* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  max-width: 1600px;
}

.top {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-height: 75px;
  width: 100%;
}

header {
  background-color: #222;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

a {
  text-decoration: none;
}

.left_head {
  margin-left: 14.44%;
  margin-top: 0.47%;
}

.right_head {
  margin-right: 15%;
}

.middle_top {
  background-color: #F1E4E6;
  background-image: url(img/man_adaptive.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 764px;
  margin-bottom: 65px;
}

.text_1 {
  margin-left: 55.75%;
  margin-right: 20.69%;
  padding-top: 9.54%;
  padding-bottom: 88.04%;
}

.img_search {
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  margin-left: 41px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='27' height='28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M19.06 17.626A10.395 10.395 0 1011.42 21c2.253.003 4.444-.731 6.24-2.09l7.749 7.807a.925.925 0 00.66.285.9.9 0 00.66-.285.971.971 0 000-1.346l-7.67-7.746zM2.887 10.5a8.535 8.535 0 118.534 8.6 8.575 8.575 0 01-8.534-8.6z' fill='%23FFF'/%3e%3c/svg%3e");
}

.img_search:hover {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='27' height='28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M19.06 17.626A10.395 10.395 0 1011.42 21c2.253.003 4.444-.731 6.24-2.09l7.749 7.807a.925.925 0 00.66.285.9.9 0 00.66-.285.971.971 0 000-1.346l-7.67-7.746zM2.887 10.5a8.535 8.535 0 118.534 8.6 8.575 8.575 0 01-8.534-8.6z' fill='%23f16d7f'/%3e%3c/svg%3e");
}

.right_menu {
  margin-right: 33px;
}

.right_head_menu {
  margin-top: 30px;
}

.menu_1 {
  width: 32px;
  height: 29px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='23' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 23v-2.69h32V23H0zm0-10.24v-2.69h32v2.69H0zM0 2.69V0h32v2.69H0z' fill='%23fff'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.menu_1:hover {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='23' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 23v-2.69h32V23H0zm0-10.24v-2.69h32v2.69H0zM0 2.69V0h32v2.69H0z' fill='%23f16d7f'/%3e%3c/svg%3e");
}

.profile_1 {
  width: 29px;
  height: 29px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='29' height='29' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.5 19.937c4.5 0 8.156-4.473 8.156-9.969C22.656 4.472 19 0 14.5 0a7.45 7.45 0 00-5.834 3 11.159 11.159 0 00-2.322 6.974c0 5.491 3.656 9.963 8.156 9.963zm0-18.124c3.5 0 6.344 3.659 6.344 8.156 0 4.497-2.846 8.156-6.344 8.156s-6.344-3.66-6.345-8.156C8.154 5.473 11 1.813 14.5 1.813zm6.344 16.312a.907.907 0 000 1.813 6.351 6.351 0 016.344 6.344.908.908 0 01-.906.906H2.72a.908.908 0 01-.906-.906 6.352 6.352 0 016.344-6.344.906.906 0 000-1.812A8.165 8.165 0 000 26.281 2.722 2.722 0 002.719 29h23.563A2.722 2.722 0 0029 26.281a8.166 8.166 0 00-8.156-8.156z' fill='%23fff'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.profile_1:hover {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='29' height='29' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.5 19.937c4.5 0 8.156-4.473 8.156-9.969C22.656 4.472 19 0 14.5 0a7.45 7.45 0 00-5.834 3 11.159 11.159 0 00-2.322 6.974c0 5.491 3.656 9.963 8.156 9.963zm0-18.124c3.5 0 6.344 3.659 6.344 8.156 0 4.497-2.846 8.156-6.344 8.156s-6.344-3.66-6.345-8.156C8.154 5.473 11 1.813 14.5 1.813zm6.344 16.312a.907.907 0 000 1.813 6.351 6.351 0 016.344 6.344.908.908 0 01-.906.906H2.72a.908.908 0 01-.906-.906 6.352 6.352 0 016.344-6.344.906.906 0 000-1.812A8.165 8.165 0 000 26.281 2.722 2.722 0 002.719 29h23.563A2.722 2.722 0 0029 26.281a8.166 8.166 0 00-8.156-8.156z' fill='%23f16d7f'/%3e%3c/svg%3e");
}

.cart_1 {
  width: 32px;
  height: 29px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='29' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M26.2 29a2.477 2.477 0 11.201 0h-.2zM6.754 26.32a2.68 2.68 0 115.364 0 2.68 2.68 0 01-5.366 0h.002zm3.8-5.634a1.184 1.184 0 01-1.145-.867L4.575 2.364H1.182a1.182 1.182 0 010-2.364h4.281a1.183 1.183 0 011.144.868l4.833 17.455h13.178L29 8.275h-14.6a1.183 1.183 0 110-2.365h16.413a1.178 1.178 0 01.986.533 1.191 1.191 0 01.1 1.122l-5.405 12.412a1.185 1.185 0 01-1.084.709H10.553z' fill='%23fff'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cart_1:hover {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='29' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M26.2 29a2.477 2.477 0 11.201 0h-.2zM6.754 26.32a2.68 2.68 0 115.364 0 2.68 2.68 0 01-5.366 0h.002zm3.8-5.634a1.184 1.184 0 01-1.145-.867L4.575 2.364H1.182a1.182 1.182 0 010-2.364h4.281a1.183 1.183 0 011.144.868l4.833 17.455h13.178L29 8.275h-14.6a1.183 1.183 0 110-2.365h16.413a1.178 1.178 0 01.986.533 1.191 1.191 0 01.1 1.122l-5.405 12.412a1.185 1.185 0 01-1.084.709H10.553z' fill='%23f16d7f'/%3e%3c/svg%3e");
}

button {
  color: none;
  background-color: unset;
  border: none;
}

.left_head_menu {
  padding-top: 18px;
  padding-bottom: 19px;
}

.right_head_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right_menu img:hover {
  color: #f16d7f;
}

.text_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 892px;
  padding-top: 290px;
}

.text_1_p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 377px;
}

.text_1:before {
  content: "";
  width: 12px;
  background-color: #F16D7F;
  margin-right: 16px;
}

.text_1_brand {
  font-weight: 900;
  font-size: 48px;
  line-height: 57,6px;
}

.text_1_brand_2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 38,4px;
}

.text_1_brand_3 {
  font-weight: 700;
  font-size: 37px;
  line-height: 44,4px;
  color: #f16d7f;
}

.middle_akcio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content {
  padding: 3% 2% 0;
}

.img_akcio_1 {
  width: 33%;
}

.img_akcio_2 {
  width: 100%;
}

.akcio_1 {
  background-image: url(img/1_adaptiv.jpg);
  background-repeat: no-repeat;
  min-height: 260px;
  margin-bottom: 3%;
}

.akcio_2 {
  background-image: url(img/2_adaptiv.jpg);
  background-repeat: no-repeat;
}

.akcio_3 {
  background-image: url(img/3_adaptiv.jpg);
  background-repeat: no-repeat;
}

.akcio_4 {
  background-image: url(img/4_adaptiv.jpg);
  background-repeat: no-repeat;
  min-height: 180px;
}

.akcio_1:hover {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.akcio_2:hover {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.akcio_3:hover {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.akcio_4:hover {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}
/*# sourceMappingURL=style.css.map */